<html>
<head>
    <meta charset="UTF-8">
    <title>Beer Cooler</title>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>

<!-- external template -->
<script id="beerTemplate" type="text/template">
  <%= name %> - <%= likes %>
  <button class="edit">Edit</button>
  <button class="delete">Delete</button>
  <button class="like">Like</button>
</script>

<script src="js/application.js"></script>
<script src="js/models.js"></script>
<script src="js/collections.js"></script>
<script src="js/views.js"></script>
</body>
</html>
